<div id="container">

  <div class="title">
    <h1>Welcome back!</h1>
    <small>Sign In to proceed</small>
  </div>

  <form [formGroup]="form" (ngSubmit)="signIn(form.value)" autocomplete="off">

    <app-input label="E-mail" name="email" type="text" formControlName="email"></app-input>
    <app-input label="Password" name="password" type="password" formControlName="password"></app-input>

    <div class="message">
      <small>Don't have an account?</small>
      <a>Register</a>
    </div>

    <button type="submit" [disabled]="!form.valid">
      Sign In
    </button>
    
  </form>

</div>
