<div class="member-card">
  <div class="info">
    <fa-icon [icon]="icons.user" [class]="['user-icon']"></fa-icon>

    <div class="details">
      <h3>{{ member.name }}</h3>
      <h5>
        <fa-icon [icon]="icons.mail" [class]="['info-icon']"></fa-icon>{{ member.email }}
      </h5>
      <h5>
        <fa-icon [icon]="icons.permission" [class]="['info-icon']"></fa-icon>{{ member.role }}
      </h5>
    </div>
  </div>

  <fa-icon [icon]="icons.remove" (click)="openConfirmModal(confirmationModal)"></fa-icon>
</div>

<ng-template #confirmationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Aviso</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="form">
      <div class="select-group">
      </div>

      <h1>Desejar realmente remover {{ member.name }} do time?</h1>
    </form>

  </div>

  <div class="modal-footer">
    <button type="button" (click)="modal.dismiss()">Fechar</button>
    <button type="button" (click)="deleteMemberEmitter.emit(member); modal.dismiss()">Confirmar</button>
  </div>
</ng-template>
