<div class="member-card">
  <div class="info">
    <fa-icon [icon]="icons.user" [class]="['user-icon']"></fa-icon>

    <div class="details">
      <h3>{{ member.name }}</h3>
      <h5>
        <fa-icon [icon]="icons.mail" [class]="['info-icon']"></fa-icon>{{ member.email }}
      </h5>
      <h5>
        <fa-icon [icon]="icons.permission" [class]="['info-icon']"></fa-icon>{{ member.role }}
      </h5>
    </div>
  </div>

  <fa-icon [icon]="icons.remove" (click)="openConfirmationModal(confirmationModal)"></fa-icon>
</div>

<ng-template #confirmationModal let-modal>
  <app-modal modalTitle="Remove Member" (closeEmitter)="modal.dismiss()" (continueEmitter)="modal.close()">

    <div class="confirmation-content">
      {{ member.name }} will be removed from this team. Are you sure?
    </div>

  </app-modal>
</ng-template>
