<app-container name="Collections">

  <button header (click)="openCreateCollectionModal(createCollectionModal)">
    <fa-icon [icon]=icons.plus></fa-icon>
    New collection
  </button>

  <main content *ngIf="(collections$ | async) as collections; else loadingOrError">
    <ng-container *ngIf="collections?.length; else empty">
      <app-collection-card *ngFor="let collection of collections" [collection]="collection"></app-collection-card>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #loadingOrError>
    <app-error *ngIf="error$ | async; else loading"></app-error>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </ng-template>

</app-container>

<ng-template #createCollectionModal let-modal>

  <app-modal modalTitle="Create Collection" [canContinue]="createCollectionForm.valid" (closeEmitter)="modal.dismiss()"
    (continueEmitter)="modal.close()">

    <form [formGroup]="createCollectionForm" (ngSubmit)="modal.close()" autocomplete="off">
      <app-input label="Name" name="name" type="text" formControlName="name"></app-input>
    </form>

  </app-modal>

</ng-template>
