app-container button {
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  outline: 0;
  border: none;
  padding: 0.8rem 1.4rem;
  font-size: 1.45rem;
  transition: background-color 0.2s;
}

app-container button:hover {
  background-color: var(--color-dark-primary);
}

app-container main .monitoring {
  display: flex;
  flex-wrap: wrap;
}

app-container .monitoring app-info-card {
  flex-basis: calc((100% / 4) - (3 * 1rem));
  min-width: 25rem;
  margin: 0 1.5rem 2rem 1.5rem;
}

app-container main .analysis {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

app-container main .analysis app-chart-card {
  flex-basis: calc(100% / (4 / 3) - (3 * 1rem));
  min-width: 25rem;
  margin: 0 1.5rem 3rem 1.5rem;
}

app-container main .analysis app-history-card {
  flex-basis: calc((100% / 4) - (3 * 1rem));
  min-width: 25rem;
  margin: 0 1.5rem;
}

app-container main .empty {
  width: 100%;
}

@media (max-width: 1194px) {
  app-container .monitoring app-info-card {
    flex-basis: calc((100% / 2) - (3 * 1rem));
  }

  app-container main .analysis app-chart-card {
    flex-basis: calc((100% / 2) - (3 * 1rem));
  }

  app-container main .analysis app-history-card {
    flex-basis: calc((100% / 2) - (3 * 1rem));
  }
}

@media (max-width: 597px) {
  app-container .monitoring app-info-card {
    flex-basis: calc(100% - (3 * 1rem));
  }

  app-container main .analysis app-chart-card {
    flex-basis: calc(100% - (3 * 1rem));
  }

  app-container main .analysis app-history-card {
    flex-basis: calc(100% - (3 * 1rem));
  }
}
