<app-container *ngIf="(info$ | async) as info; else loadingOrError" [name]="info?.name" complement="Analytics">

  <button header (click)="openSendDataModal(sendDataModal)">
    <fa-icon [icon]=icons.send></fa-icon>
    Send data
  </button>

  <main content>
    <ng-container *ngIf="info?.data?.length; else empty">
      <div class="monitoring">
        <app-info-card description="Current value" [value]="info?.currentValue" symbol="current"></app-info-card>
        <app-info-card description="Highest value" [value]="info?.highestValue" symbol="max"></app-info-card>
        <app-info-card description="Lowest value" [value]="info?.lowestValue" symbol="min"></app-info-card>
        <app-info-card description="Average value" [value]="info?.averageValue" symbol="average"></app-info-card>
      </div>

      <div class="analysis">
        <app-chart-card [data]="info?.data"></app-chart-card>
        <app-history-card [data]="info?.data"></app-history-card>
      </div>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #sendDataModal let-modal>
    <app-modal modalTitle="Send Data" [canContinue]="sendDataForm.valid" (closeEmitter)="modal.dismiss()"
      (continueEmitter)="modal.close()">

      <form [formGroup]="sendDataForm" (ngSubmit)="modal.close()" autocomplete="off">
        <app-input label="Value" name="value" type="number" formControlName="value"></app-input>

        <button type="submit" class="invisible" [disabled]="!sendDataForm.valid"></button>
      </form>

    </app-modal>
  </ng-template>

</app-container>

<ng-template #loadingOrError>
  <app-error *ngIf="error$ | async; else loading"></app-error>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</ng-template>
