<div id="container">
  <header>
    <div class="title">
      <h1>{{ name }}</h1>

      <ng-container *ngIf="complement">
        <fa-icon [icon]="icons.arrow"></fa-icon>
        <h3 *ngIf="!tabs">{{ complement }}</h3>

        <div class="dropdown" *ngIf="tabs" ngbDropdown>
          <h3 ngbDropdownToggle>{{ complement }}</h3>

          <div class="menu-options" ngbDropdownMenu>
            <a *ngFor="let tab of tabs" [routerLink]="[tab.destination]" ngbDropdownItem>{{ tab.label }}</a>
          </div>
        </div>
      </ng-container>
    </div>

    <ng-content select="[header]"></ng-content>
  </header>

  <hr>

  <main>
    <ng-content select="[content]"></ng-content>
  </main>
</div>
