#container header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#container header .title {
  letter-spacing: 0.05rem;
  display: flex;
  align-items: flex-end;
}

#container header .title h1, h3 {
  margin-bottom: 0;
}

#container header .title h3 {
  margin-left: 0.8rem;
}

#container hr {
  background-color: var(--color-dark-text);
}

#container main {
  margin-top: 3rem;
}

@media (max-width: 576px) {
  #container header {
    align-items: center;
  }

  #container header .title h1 {
    font-size: 2.3rem;
  }
}
