<app-container name="Variables">

  <button header (click)="createVariable({ name:'Sapateira', key: 'sapateira' })">
    <fa-icon [icon]=icons.plus></fa-icon>
    New variable
  </button>

  <main content *ngIf="(variables$ | async) as variables; else loadingOrError">
    <ng-container *ngIf="variables?.length; else empty">
      <app-variable-card *ngFor="let variable of variables" [variable]="variable"></app-variable-card>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #loadingOrError>
    <app-error *ngIf="error$ | async; else loading"></app-error>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </ng-template>

</app-container>
