.broker-card {
  background-color: var(--color-dark-background);
  border-radius: 1rem;
  border-left: 1rem solid var(--color-dark);
  min-width: 25rem;
  cursor: pointer;
  transition: background-color 0.5s, border-left-color 0.5s;
  padding: 1rem 1.5rem 4rem 1.5rem;
}

.broker-card:hover {
  background-color: var(--color-dark);
  border-left-color: var(--color-secondary);
}

.broker-card header {
  display: flex;
  justify-content: space-between;
}

.broker-card header .info-icon {
  font-size: 1.8rem;
  color: var(--color-secondary);
}

.broker-card main {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.8rem;
  letter-spacing: 0.05rem;
}

.broker-card main .status-icon-active {
  font-size: 1.8rem;
  margin-right: 0.3rem;
  color: green;
}

.broker-card main .status-icon-inactive {
  font-size: 1.8rem;
  margin-right: 0.3rem;
  color: red;
}

.broker-card main .status-icon-processing {
  font-size: 1.8rem;
  margin-right: 0.3rem;
  color: gray;
}
