<app-container *ngIf="(brokers$ | async) as brokers; else loadingOrError" name="Brokers">

  <button header (click)="openCreateBrokerModal(createBrokerModal)">
    <fa-icon [icon]=icons.plus></fa-icon>
    New broker
  </button>

  <main content>
    <ng-container *ngIf="brokers?.length; else empty">
      <app-broker-card *ngFor="let broker of brokers" [broker]="broker"
        (reprocessBrokerEvent)="reprocessBroker(broker.id)">
      </app-broker-card>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #createBrokerModal let-modal>
    <app-modal modalTitle="Create Broker" [canContinue]="createBrokerForm.valid" (closeEmitter)="modal.dismiss()"
      (continueEmitter)="modal.close()">

      <form [formGroup]="createBrokerForm" (ngSubmit)="modal.close()" autocomplete="off">
        <app-input label="Name" name="name" type="text" formControlName="name"></app-input>

        <div formGroupName="credentials" class="credentials">
          <app-input label="Username" name="username" type="text" formControlName="username"></app-input>
          <app-input label="Password" name="password" type="password" formControlName="password"></app-input>
          <app-input label="Address" name="address" type="text" formControlName="address"></app-input>
          <app-input label="Port" name="port" type="number" formControlName="port"></app-input>
        </div>

        <button type="submit" class="invisible" [disabled]="!createBrokerForm.valid"></button>
      </form>

    </app-modal>
  </ng-template>

</app-container>

<ng-template #loadingOrError>
  <app-error *ngIf="error$ | async; else loading"></app-error>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</ng-template>
