<app-container name="Brokers">

  <button header (click)="createBroker({ name: 'Test Broker', credentials: { username: 'flaviobrusamolin@gec.inatel.br', password: 'any_pass', address: 'mqtt://maqiatto.com', port: 8883 } })">
    <fa-icon [icon]=icons.plus></fa-icon>
    New broker
  </button>

  <main content *ngIf="(brokers$ | async) as brokers; else loadingOrError">
    <ng-container *ngIf="brokers?.length; else empty">
      <app-broker-card *ngFor="let broker of brokers" [broker]="broker"></app-broker-card>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #loadingOrError>
    <app-error *ngIf="error$ | async; else loading"></app-error>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </ng-template>

</app-container>
