.broker-card {
  background-color: var(--color-dark-background);
  border-radius: 1rem;
  border-left: 1rem solid var(--color-dark);
  min-width: 25rem;
  cursor: pointer;
  transition: background-color 0.5s, border-left-color 0.5s;
  padding: 1rem 1.5rem 3rem 1.5rem;
}

.broker-card:hover {
  background-color: var(--color-dark);
  border-left-color: var(--color-secondary);
}

.broker-card header {
  display: flex;
  justify-content: space-between;
}

.broker-card header .info-icon {
  font-size: 1.8rem;
  color: var(--color-secondary);
}

.broker-card main {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.3rem;
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
}

.broker-card main small {
  color: var(--color-text-base-darkness);
}
