.device-card {
  background-color: var(--color-dark-background);
  border-radius: 1rem;
  border-left: 1rem solid var(--color-dark);
  min-width: 25rem;
  cursor: pointer;
  transition: background-color 0.5s, border-left-color 0.5s;
  padding: 1rem 1.5rem 3rem 1.5rem;
}

.device-card:hover {
  background-color: var(--color-dark);
  border-left-color: var(--color-secondary);
}

.device-card:focus {
  outline: 0;
}

.device-card header {
  display: flex;
  justify-content: space-between;
}

.device-card header .info-icon {
  font-size: 1.8rem;
  color: var(--color-secondary);
}

.device-card main {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.1rem;
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
}

.device-card main small {
  color: var(--color-text-base-darkness);
}

.dropdown-toggle::after {
  display:none;
}

.modal-header {
  background-color: black;
}

.modal-body {
  background-color: var(--color-dark-background);
}

.modal-footer {
  background-color: var(--color-dark-background);
}

.modal-footer button {
  outline: 0;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: opacity 0.2s;
  background-color: transparent;
  color: var(--color-dark-white);
}

.modal-footer button:hover {
  opacity: 0.9;
}
