<div class="device-card" [routerLink]="['/home/devices/', device.id]">
  <header>
    <fa-icon [icon]="icons.info" [class]="['info-icon']" [ngbTooltip]="deviceInfoTemplate"></fa-icon>

    <div class="options-icon" ngbDropdown (click)="$event.stopPropagation()">
      <fa-icon [icon]="icons.options" ngbDropdownToggle></fa-icon>

      <div class="menu-options" ngbDropdownMenu>
        <a ngbDropdownItem (click)="updateDevice()">Edit<fa-icon [icon]="icons.edit"></fa-icon></a>
      </div>
    </div>
  </header>

  <main>
    {{ device.name }}
    <small>Protocol: {{ device.protocol.toUpperCase() }}</small>
  </main>
</div>

<ng-template #deviceInfoTemplate>
  <div class="device-tooltip">
    <h4>
      <span>Broker:</span>
      {{ device.mqttInfo?.brokerName ? device.mqttInfo?.brokerName : '*Available only to the broker owner*' }}
    </h4>

    <h4>
      <span>Topic:</span>
      {{ device.mqttInfo?.topic }}
    </h4>
  </div>
</ng-template>
