<app-container name="Members">

  <button header (click)="addMember( { email: 'leonardo@gmail.com', role: role})">
    <fa-icon [icon]=icons.plus></fa-icon>
    Add member
  </button>

  <main content *ngIf="(members$ | async) as members; else loadingOrError">
    <ng-container *ngIf="members?.length; else empty">
      <app-member-card *ngFor="let member of members" [member]="member"></app-member-card>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #loadingOrError>
    <app-error *ngIf="error$ | async; else loading"></app-error>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </ng-template>

</app-container>
