<app-container *ngIf="(pageData$ | async) as pageData; else loadingOrError" [name]="pageData?.collection.name"
  complement="Members">

  <button header (click)="openAddMemberModal(addMemberModal)">
    <fa-icon [icon]=icons.plus></fa-icon>
    Add member
  </button>

  <main content>
    <ng-container *ngIf="pageData?.members.length; else empty">
      <app-member-card *ngFor="let member of pageData?.members" [member]="member"
        (deleteMemberEvent)="deleteMember(member.id)">
      </app-member-card>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #addMemberModal let-modal>
    <app-modal modalTitle="Add Member" [canContinue]="addMemberForm.valid" (closeEmitter)="modal.dismiss()"
      (continueEmitter)="modal.close()">

      <form [formGroup]="addMemberForm" (ngSubmit)="modal.close()" autocomplete="off">
        <app-input label="E-mail" name="email" type="text" formControlName="email"></app-input>

        <label class="select-label">Role</label>
        <ng-select appendTo="body" [items]="roles" [hideSelected]="true" bindLabel="label" bindValue="value"
          formControlName="role">
        </ng-select>

        <button type="submit" class="invisible" [disabled]="!addMemberForm.valid"></button>
      </form>

    </app-modal>
  </ng-template>

</app-container>

<ng-template #loadingOrError>
  <app-error *ngIf="error$ | async; else loading"></app-error>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</ng-template>
