<div class="broker-card">
  <header>
    <fa-icon [icon]="icons.info" [class]="['info-icon']"></fa-icon>
    <div class="options-icon" ngbDropdown>
      <fa-icon [icon]="icons.options" ngbDropdownToggle></fa-icon>
      <div class="menu-options" ngbDropdownMenu>
        <i ngbDropdownItem (click)="reprocessBrokerEmitter.emit(broker)"> Reprocess Broker</i>
      </div>
    </div>
  </header>

  <main>
    {{ broker.name }}

    <div class="status">
      <small>
        {{ broker.status }}
      </small>

      <fa-icon [icon]="icons[broker.status]" [class]="['status-icon']" [spin]="broker.status === 'processing'">
      </fa-icon>
    </div>
  </main>
</div>
