.broker-card {
  background-color: var(--color-dark-background);
  border-radius: 1rem;
  border-left: 1rem solid var(--color-dark);
  min-width: 25rem;
  transition: background-color 0.5s, border-left-color 0.5s;
  padding: 1rem 1.5rem 2.9rem 1.5rem;
}

.broker-card:hover {
  background-color: var(--color-dark);
  border-left-color: var(--color-secondary);
}

.broker-card header {
  display: flex;
  justify-content: space-between;
}

.broker-card header .info-icon {
  font-size: 1.8rem;
  color: var(--color-secondary);
}

.broker-card main {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.05rem;
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
}

.broker-card main .status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--color-text-base-darkness);
  text-transform: capitalize;
}

.broker-card main .status .status-icon {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  margin-top: 0.01rem;
}

.broker-card .options-icon {
  cursor: pointer;
}

.broker-card .options-icon .menu-options {
  background-color: var(--color-background);
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 0;
}

.broker-card .options-icon .menu-options a {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  color: var(--color-text-base);
}

.broker-card .options-icon .menu-options a + a {
  border-top: 1px solid var(--color-area-border);
}

.broker-card .options-icon .menu-options a:hover {
  color: var(--color-text-base);
  background-color: var(--color-dark-background);
}

.broker-card .options-icon .menu-options a fa-icon {
  margin-left: 0.6rem;
}

.dropdown-toggle::after {
  display:none;
}

.broker-tooltip {
  padding: 1.2rem 1.5rem;
  letter-spacing: 0.04rem;
  text-align: left;
}

.broker-tooltip h4:last-child {
  margin-bottom: 0;
}

.broker-tooltip h4 span {
  font-weight: 600;
  color: var(--color-text-dark);
}
