<div class="broker-card">
  <header>
    <fa-icon [icon]="icons.info" [class]="['info-icon']" placement="bottom" [ngbTooltip]="brokerInfoTemplate" tooltipClass="teste"></fa-icon>
    <div class="options-icon" ngbDropdown>
      <fa-icon [icon]="icons.options" ngbDropdownToggle></fa-icon>
      <div class="menu-options" ngbDropdownMenu>
        <i ngbDropdownItem (click)="reprocessBrokerEmitter.emit(broker)"> Reprocess Broker</i>
      </div>
    </div>
  </header>

  <main>
    {{ broker.name }}

    <div class="status">
      <small>
        {{ broker.status }}
      </small>

      <fa-icon [icon]="icons[broker.status]" [class]="['status-icon']" [spin]="broker.status === 'processing'">
      </fa-icon>
    </div>
  </main>
</div>

<ng-template #brokerInfoTemplate> 
  <div class="brokerInfoTemplate">
    <h3>Username: {{broker.credentials.username}}</h3>
    <h3>Password: {{broker.credentials.password}}</h3>
    <h3>Address: {{broker.credentials.address}}</h3>
    <h3>Port: {{broker.credentials.port}}</h3>
  </div>

</ng-template>
