#page-template {
  width: 100vw;
  height: 100vh;
}

#page-template main {
  padding-top: 13rem;
  width: 90vw;
  max-width: 140rem;
  margin: 0 auto;
}

@media (max-width: 576px) {
  #page-template main {
    padding-top: 11rem;
  }
}
