/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~ngx-toastr/toastr';

:root {
  font-size: 60%;

  --color-background: #282a36;
  --color-dark-background: #21222c;
  --color-dark: #191a21;
  --color-primary: #ee72ba;
  --color-dark-primary: #d267a6;
  --color-secondary: #bd93f9;
  --color-tertiary: #3d4052;
  --color-dark-tertiary: #3d4052e3;
  --color-text-base: #f5f6f8;
  --color-text-base-darkness: #e7e7e9f6;
  --color-dark-text: #b4b5bb;
  --color-area-border: #ffffff0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 400 1.6rem Open Sans;
  color: var(--color-text-base);
}

.invisible {
  display: none;
}

/* Toastr custom style */
#toast-container > div {
  box-shadow: none;
  font-size: 1.3rem;
}

.toast-success {
  background-color: var(--color-primary);
}

.toast-error {
  background-color: var(--color-dark-background);
  border: 0.1rem solid var(--color-dark);
}

.toast-title {
  margin-top: 0.1rem;
}

.toast-message {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}

/* NgbModal custom style */
.modal-content {
  background-color: var(--color-dark-background) !important;
  border-radius: 0.5rem;
  border: none;
  margin: 0 1rem;
}

.modal-header {
  padding: 1.8rem 2.5rem;
  border-bottom-color: var(--color-area-border);
  letter-spacing: 0.03rem;
}

.modal-header .modal-title {
  font-size: medium;
  font-weight: 600;
}

.modal-body {
  padding: 1.5rem 4.5rem 3rem 4.5rem;
}

.modal-footer {
  padding: 1.5rem 2rem;
  border-top-color: var(--color-area-border);
}

.tooltip-inner {
  border-radius: 1rem;
  background-color: var(--color-dark-background);
}

