/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

:root {
  font-size: 60%;

  --color-background: #26292e;
  --color-dark-background: #1e2025;
  --color-dark: #0d0e10;
  --color-primary: #00a8ff;
  --color-dark-primary: #0191da;
  --color-secondary: #fd43d9;
  --color-text-base: #f5f6f8;
  --color-text-base-darkness: #e7e7e9f6;
  --color-dark-text: #949599;
  --color-area-border: #ffffff0a;
  --color-error: #ed5565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 400 1.6rem Open Sans;
  color: var(--color-text-base);
}

/* Toastr custom style */
#toast-container > div {
  box-shadow: none;
  font-size: 1.3rem;
}

.toast-success {
  background-color: var(--color-dark-primary);
}

.toast-error {
  background-color: var(--color-error);
}

.toast-title {
  margin-top: 0.1rem;
}

.toast-message {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
