#collection-list header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#collection-list header h1 {
  letter-spacing: 0.05rem;
  margin-bottom: 0;
}

#collection-list header button {
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  outline: 0;
  border: none;
  padding: 0.8rem 1.4rem;
  font-size: 1.45rem;
  transition: background-color 0.2s;
}

#collection-list header button:hover {
  background-color: var(--color-dark-primary);
}

#collection-list hr {
  background-color: var(--color-dark-text);
}

#collection-list main {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

#collection-list main .collection-card {
  background-color: var(--color-dark-background);
  border-radius: 1rem;
  border-left: 1rem solid var(--color-primary);

  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;

  flex-basis: calc((100% / 4) - (2 * 1rem));
  min-width: 25rem;
  margin: 0 1rem 2rem 1rem;
  padding: 4rem;
  cursor: pointer;

  transition: background-color 0.5s;
}

#collection-list main .collection-card:hover {
  background-color: var(--color-dark);
}

/* #collection-list main .collection-card:nth-child(4n-6){
  border-left: 1rem solid green;
}

#collection-list main .collection-card:nth-child(4n-5) {
  border-left: 1rem solid yellow;
}

#collection-list main .collection-card:nth-child(4n-4) {
  border-left: 1rem solid blue;
} */

@media (max-width: 1152px) {
  #collection-list main .collection-card {
    flex-basis: calc((100% / 3) - (2 * 1rem));
  }
}

@media (max-width: 864px) {
  #collection-list main .collection-card {
    flex-basis: calc((100% / 2) - (2 * 1rem));
  }
}

@media (max-width: 576px) {
  #collection-list main .collection-card {
    flex-basis: calc(100% - (2 * 1rem));
  }
}
