<app-container name="Collections">

  <button header (click)="createCollection({ name: 'Test' })">
    <fa-icon [icon]=icons.plus></fa-icon>
    New collection
  </button>

  <main content *ngIf="(collections$ | async) as collections; else loadingOrError">
    <ng-container *ngIf="collections?.length; else empty">
      <app-collection-card *ngFor="let collection of collections" [collection]="collection"></app-collection-card>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #loadingOrError>
    <app-error *ngIf="error$ | async; else loading"></app-error>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </ng-template>


</app-container>
