<app-container *ngIf="(pageData$ | async) as pageData; else loadingOrError" [name]="pageData?.collection.name"
  complement="Devices" [tabs]="[{ label: 'Members', destination: '../members' }]">

  <button header (click)="openCreateDeviceModal(createDeviceModal)">
    <fa-icon [icon]=icons.plus></fa-icon>
    New device
  </button>

  <main content>
    <ng-container *ngIf="pageData?.devices.length; else empty">
      <app-device-card *ngFor="let device of pageData?.devices" [device]="mergeDeviceData(device, pageData?.brokers)"
        (updateDeviceEvent)="openUpdateDeviceModal(updateDeviceModal, device)">
      </app-device-card>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #createDeviceModal let-modal>
    <app-modal modalTitle="Create Device" [canContinue]="createDeviceForm.valid" (closeEmitter)="modal.dismiss()"
      (continueEmitter)="modal.close()">

      <form [formGroup]="createDeviceForm" (ngSubmit)="modal.close()" autocomplete="off">
        <app-input label="Name" name="name" type="text" formControlName="name"></app-input>

        <label class="select-label">Protocol</label>
        <ng-select appendTo="body" [items]="protocols" [hideSelected]="true" bindLabel="label" bindValue="value"
          formControlName="protocol">
        </ng-select>

        <div formGroupName="mqttInfo" class="mqttInfo" *ngIf="createDeviceForm.value.protocol === 'mqtt'">
          <ng-container *ngIf="pageData?.brokers?.length; else brokerWarning">
            <label class="select-label">Broker</label>
            <ng-select appendTo="body" [items]="pageData?.brokers" [hideSelected]="true" bindLabel="label"
              bindValue="value" formControlName="brokerId">
            </ng-select>

            <app-input label="Topic" name="topic" type="text" formControlName="topic"></app-input>
          </ng-container>

          <ng-template #brokerWarning>
            <p>
              <fa-icon [icon]=icons.warning></fa-icon>
              Register a broker to continue.
            </p>
          </ng-template>
        </div>

        <button type="submit" class="invisible" [disabled]="!createDeviceForm.valid"></button>
      </form>

    </app-modal>
  </ng-template>

  <ng-template #updateDeviceModal let-modal>
    <app-modal modalTitle="Edit Device" [canContinue]="updateDeviceForm.valid" (closeEmitter)="modal.dismiss()"
      (continueEmitter)="modal.close()">

      <form [formGroup]="updateDeviceForm" (ngSubmit)="modal.close()" autocomplete="off">
        <app-input label="Name" name="name" type="text" formControlName="name"></app-input>

        <ng-container *ngIf="updateDeviceForm.value.protocol">
          <label class="select-label">Protocol</label>
          <ng-select appendTo="body" [items]="protocols" [hideSelected]="true" bindLabel="label" bindValue="value"
            formControlName="protocol">
          </ng-select>

          <div formGroupName="mqttInfo" class="mqttInfo" *ngIf="updateDeviceForm.value.protocol === 'mqtt'">
            <label class=" select-label">Broker</label>
            <ng-select appendTo="body" [items]="pageData?.brokers" [hideSelected]="true" bindLabel="label"
              bindValue="value" formControlName="brokerId">
            </ng-select>

            <app-input label="Topic" name="topic" type="text" formControlName="topic"></app-input>
          </div>
        </ng-container>

        <button type="submit" class="invisible" [disabled]="!updateDeviceForm.valid"></button>
      </form>

    </app-modal>
  </ng-template>

</app-container>

<ng-template #loadingOrError>
  <app-error *ngIf="error$ | async; else loading"></app-error>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</ng-template>
