<app-container name="Devices | Members" entityName={{collectionName}}>

  <button header (click)="openCreateDeviceModal(createDeviceModal)">
    <fa-icon [icon]=icons.plus></fa-icon>
    New device
  </button>

  <main content *ngIf="(devices$ | async) as devices; else loadingOrError">
    <ng-container *ngIf="devices?.length; else empty">
      <app-device-card *ngFor="let device of devices" [device]="device" [brokers]="brokers$"
        (updateDeviceEmitter)="updateDevice(device, $event)"></app-device-card>
    </ng-container>

    <ng-template #empty>
      <div class="empty">
        <app-empty></app-empty>
      </div>
    </ng-template>
  </main>

  <ng-template #loadingOrError>
    <app-error *ngIf="error$ | async; else loading"></app-error>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </ng-template>

</app-container>

<ng-template #createDeviceModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Collection</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="createDeviceForm" (ngSubmit)="createDevice(createDeviceForm.value); modal.dismiss()">
      <div class="select-group">
      </div>
      <app-input label="Name" name="name" type="string" formControlName="name"></app-input>

      <label style="margin-right: 1rem;">Protocol</label>
      <select class="selectpicker" formControlName="protocol">
        <option>mqtt</option>
      </select>
      
      <div formGroupName="mqttInfo">
        <app-input label="Topic" name="topic" type="string" formControlName="topic"></app-input>

        <label style="margin-right: 1rem;">Broker</label>
        <main content *ngIf="(brokers$ | async) as brokers;">
          <ng-container *ngIf="brokers?.length;">
            <select class="selectpicker" formControlName="brokerId">
              <option *ngFor="let broker of brokers" [value]="broker.id"> {{broker.name}} </option>
            </select>
          </ng-container>
        </main>    
      </div>

      <div class="modal-footer">
        <button type="button" (click)="modal.dismiss()">Close</button>
        <button type="submit" [disabled]="!createDeviceForm.valid">Create</button>
      </div>
    </form>

  </div>
</ng-template>
